<div style='margin:auto; width:350px'> 
  <div style='float:right; margin-top:50px; margin-left: 30px;'>
    <b><%= params[:user] %></b>
    <br/>
  </div>
<div style='float:right'>
  <% @statuses.each do |status| %>
    <div style='border-top:1px dashed #aaa; padding:15px; height: 90px; width: 290px'><%= status.twitter_user.screen_name %>:<%= status.text %> <%= time_ago_in_words status.created_at %></div>
  <% end %>
  <div style='border-top:1px dashed #aaa; padding:15px; height: 110px; width: 290px'></div>
</div>

</div>
